// Palette

$vak-white: #FFFFFF;
$vak-red: #D95426;
$vak-blue: #22538E;
$vak-orange: #D99325;
$vak-green: #1A975B;

$primary: $vak-blue;
$info: $vak-blue;
$success: $vak-green;
$warning: $vak-orange;
$danger: $vak-red;

// Boxes
$box-padding: 1em;

// Navbar
$navbar-height: 8rem;
$navbar-item-img-max-height: 6rem;
$navbar-dropdown-arrow: $vak-red;
$navbar-dropdown-background-color: transparent;


// Typography
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:200,400,700&subset=latin-ext');
$family-sans-serif: 'Encode Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$weight-light: 200;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;
