$body-size: 20px;

$vak-white: #FFFFFF;
$vak-red: #D95426;
$vak-blue: #22538E;
$vak-orange: #D99325;
$vak-green: #1A975B;

$primary: $vak-blue;
$info: $vak-blue;
$success: $vak-green;
$warning: $vak-orange;
$danger: $vak-red;

$box-padding: 1rem;