// Override variables here
@import "sass/config";

// Import Bulma
@import "node_modules/bulma/bulma";

html body.admin-menu {
  margin-top: 3em !important;
  @include mobile {
    margin-top: 0 !important;
  }
}

#admin-menu {
  @include mobile {
    display: none;
  }
}

table {
  @extend .table;
  @extend .is-striped;
  @extend .is-fullwidth;
}

.navbar {
  margin-bottom: 2em;
}

.navbar-brand .navbar-item {
  padding-left: 0;
  max-width: 80%;
  .vak-logo {
    position: relative;
    top: -2px;
  }
}

.navbar .navbar-menu .navbar-start {
  .navbar-item, .navbar-link {
    color: $vak-blue;
  }
}

.navbar-burger {
  span, &.is-active span {
    background-color: $vak-white;
  }
}

#main-content .panel-display .panel-panel,
.node-vote {
  @extend .content;
}

.page {
  .views-table {
    @include touch {
      font-size: 0.66em;
    }
  }
}

#comments {
  margin-top: 2em;
  .content-body {
    font-size: $size-5;
  }
  .comment-links ul.links.inline {
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        @extend .button;
        @extend .is-small;
        @extend .is-primary;
        @extend .is-outlined;
        margin-bottom: 0.25em;
      }
    }
  }
}

// Typo in RSVP, I didn't care to fix (I would need to rename field for that)
.flag-rvsp a.flag-link-confirm {
  margin-bottom: 0.5em;
}

#sidebar-second {
  h2.title {
    font-size: $size-6;
    line-height: 1.25em;
    margin-bottom: 1em;
  }
  nav {
    @extend .box;
    ul {
      padding-left: $box-padding;
    }
  }
  nav, div.box.content {
    font-size: $size-7;
    line-height: 1.25em;
  }

  // Another disgusting hack for fixing avatar placement:
  .box.content .item-list ol li {
    line-height: 25px;

    .field-content a img {
      position: relative;
      bottom: -10px;
    }
  }
}

form {
  label {
    font-weight: $weight-normal;
  }

  // Make sure form field labels appear properly and we have some spacing
  .form-type-textfield,
  .form-type-checkboxes,
  .form-type-textarea,
  .form-type-password {
    & > label {
      font-weight: bold;
    }
    margin-bottom: 1em;
  }

  fieldset legend .fieldset-legend {
    font-weight: bold;
  }
}

label p {
  font-weight: $weight-normal;
}

.node-event, .node-vote {
  .field {
    & > label {
      display: block;
      font-weight: bold;
      font-size: $size-5;
    }
  }
}

.form-type-radio {
  margin: 1em;
}

.form-actions {
  margin-top: 1em;
}

/* Some special handling for our person selector checkboxes, let's force them into multiple columns somehow... */
#edit-field-recipient-und {
  @extend .field;
  @extend .is-grouped;
  @extend .is-grouped-multiline;

  .form-type-checkbox {
    padding: 10px;
    margin-right: 3% !important;

    // Force equal width so we have proper columns
    width: 30%;
    @include mobile {
      width: 46%;
    }

    // Force real names into separate line to avoid breaking into multiple rows
    span.user-realname, span.user-name {
      display: block;
    }

    span.user-name {
      font-size: $size-6;
    }

    span.user-realname {
      font-style: italic;
      font-size: $size-7;
    }

    // Float avatars to right for better readability
    span.user-avatar {
      margin-left: 20px;
      display: block;
      float: right;
      @include mobile {
        float: none;
      }
    }

    input[type=checkbox] {
      float: left;
      margin-top: 10px;
      margin-right: 1em;
      margin-bottom: 20px;
      display: block;
      height: 30px;
    }

    span.user-names {
      float: left;
    }
  }
}

fieldset {
  border: none;
}

input[type=submit] {
  @extend .button;
  @extend .is-primary;
  margin-right: 1em;
}

#edit-cancel {
  @extend .button;
  @extend .is-outlined;
  @extend .is-info;
}

@include touch {
  body > .container {
    padding: 1em;
  }
}

.pane-event-responses {
  margin-top: 2em;
}

.notification {
  margin-bottom: 2em;
}

.action-links {
  margin-bottom: 1.5em;

  li a {
    @extend .button;
    @extend .is-outlined;
    @extend .is-info;
  }
}