// Override variables here
@import "sass/config";

// Import Bulma
@import "node_modules/bulma/bulma";

table {
  @extend .table;
}

.navbar-brand .navbar-item {
  padding-left: 0;
  padding-right: 0;
}

.navbar .navbar-menu .navbar-start .navbar-item {
  font-size: 0.85rem;
  color: $vak-blue;
}

.navbar-burger {
  span, &.is-active span {
    background-color: $vak-white;
  }
}
